.page-container {
  margin-top: 21px;
  margin-bottom: 21px;
}

.content-column {
  padding-left: 45px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  padding-top: 21px;
}

a.anchorjs-link:active, a.anchorjs-link:hover {
  text-decoration: none;
}

nav.affix[data-toggle='toc'] {
  margin-top: -60px;
}

#toc {
  width: 190px;
}

@media (max-width: 767px) {
  #toc {
    display: none;
  }
}

@media (max-width: 479px) {
  .content-column {
    padding-left: 15px;
  }

  .anchorjs-link {
    display: none;
  }
}
