<!DOCTYPE html>
<html lang="en">
  <head>
    {% include default-meta.html %}
    <title>{{ page.title | strip_html }}</title>
    {% include default-css.html %}
    <link href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css" rel="stylesheet">
    <link href="/assets/page.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target="#toc">
    {% include navbar.html %}
    <div class="container page-container">
      <div class="row">
        <div class="col-sm-9 content-column">
          {{ content }}
        </div>
        <div class="col-sm-3">
          <nav id="toc" data-toggle="toc" data-spy="affix" data-offset-top="60"></nav>
        </div>
      </div>
    </div>
    {% include default-script.html %}
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
    <script>
      anchors.options.placement = 'left';
      anchors.add('h2, h3');
    </script>
  </body>
</html>
